<br><br>
<div class="container">
  <div class="row">
  <h1>Profile</h1>
  <%= link_to 'Homepage', root_path %>

    <div class="col col-lg-4">
      <br>
      <% if current_user.image.attached? %>
        <%= image_tag current_user.image_as_thumbnail %>
      <% else %>
        <%= image_tag image_path("default profile pic.webp"), height: "200px", width: "200px" %>
      <% end %>
    <%= form_with(model: @user, url: profile_path, method: :patch) do |form| %>
      <div>
        <% if current_user.image.attached? %>
          <strong><%= form.label :image, "Change Avatar: " %></strong><br>
        <% else %>
          <strong><%= form.label :image, "Add Avatar: " %></strong><br>
        <% end %>
        <%= form.file_field :image, required: true %>
      </div><br>
      <div>
        <%= form.submit 'Save', data: { disable_with: "Submitting..." } %>
      </div>
    <% end %>
    </div>

    <div class="col-md-auto">
      <br><br>
      <p><strong>Name: </strong><%= "#{@user.first_name} #{@user.last_name}" %></p>
      <p><strong>Member Since: </strong> <%= @user.created_at.strftime("%B %Y") %></p>
      <p>
        <%= link_to "Favorite Genres: ", favorite_genres_edit_path, class: 'btn btn-outline-primary' %>
      </p>
      <ul>
        <% @user.genres.each do |favorite| %>
          <li><%= favorite.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col col-lg-12">
      <h2>My Books</h2>
      <% @user.books.each do |book| %>
        <p><strong><%= link_to book.title, book_path(book) %></strong> by <%= book.author %></p>
      <% end %>
    </div>
  </div>
</div>
