<% if user_signed_in? %>
  <h1>Welcome <%= current_user.first_name %>!</h1>
  <%= link_to 'Profile', profile_path %>
   <%= link_to 'Find Books', books_path %>
<% else %>

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h1 class="card-title">Welcome!</h1>
      <hr>
      <%= link_to 'Log in', new_user_session_path %>
      <%= link_to 'Sign up', new_user_registration_path %>
    </div>
  </div>
</div>

<% end %>
