<h1>Profile</h1>
<%= link_to 'Homepage', root_path %>

<br><br>

<div class="container text-center">
  <div class="row">
    <div class="col col-lg-4">
      <% if current_user.image.attached? %>
        <%= image_tag current_user.image.variant(resize_to_limit: [150, 150]) %>
      <% else %>
        <p>no image yet!</p>
      <% end %>
      <hr>
      <%= form_with(model: @user, url: profile_path, method: :patch) do |form| %>
        <div>
          <%= form.label :image %>
          <%= form.file_field :image %>
        </div>
        <div>
          <%= form.submit 'Save' %>
        </div>
      <% end %>
    </div>
    <div class="col-md-auto">
        <p><strong>Name: </strong><%= "#{@user.first_name} #{@user.last_name}" %></p>
        <p><strong>Favorite Genres: </strong> <%= @user.genres.map(&:name).join(', ') %></p>
        <p><strong>Member Since: </strong> <%= @user.created_at.strftime("%B %Y") %></p>
      </div>
    </div>
  </div>
</div>

<br><br>

<h2>My Books</h2>
<div>
  <% @user.books.each do |book| %>
    <p><strong><%= link_to book.title, book_path(book) %></strong> by <%= book.author %></p>
  <% end %>
</div>
