<p><%= link_to "Back to Profile", profile_path %></p>
<div class="container">
  <div class="row">
    <div class="col-4">
      <% if @book.image.attached? %>
        <%= image_tag @book.resize_book_covers %>
      <% else %>
        <%= image_tag image_path("default_no_cover.jpg"), height: "125px", width: "110px" %>
      <% end %>
    </div>
    <div class="col-8">
      <h1><%= @book.title %></h1>
      <h3>Written by: <%= @book.author %></h3>
      <h3>Average Rating: [empty for now]</h3>
      <h3>Genre: <%= @book.genre.name %></h3>
    </div>
  </div>
  <hr>
    <% @book.reviews.each do |review| %>
    <div class="row">
      <div class="col-4">
        <p>By: <%= "#{review.user.first_name} #{review.user.last_name}"%></p>
        <p>Rating: <%= "#{review.rating}/5"%></p>
        <p>Review: <%= review.content %></p>
      </div>
      <hr>
    <% end %>
  </div>
</div>


<% user_has_reviewed = false %>

<% @book.reviews.each do |review| %>
  <% if review.user_id == current_user.id %>
    <% user_has_reviewed = true %>
  <% end %>
<% end %>

<% if !user_has_reviewed %>
  <button><%= link_to "Leave Review", new_book_review_path(@book) %></button>
<% end %>
