<h1><%= "Review: #{@book.title}"%></h1>

<%= form_with model: [@book, @review], local: true do |form| %>
  <div class="mb-3">
    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :book_id %>


      <strong><%= form.label "Rating" %></strong><br><br>
      <div class="row", style="max-width: 50%">
        <% (1..5).each do |rating| %>
          <div class="col text-center", style="width: 50%">
            <%= form.label :rating, rating, class: "d-block" %>
            <%= form.radio_button :rating, rating, class: "form-check-input" %>
          </div>
        <% end %>
      </div>
      <br><br>

      <strong><%= form.label :content, "Review" %><br></strong>
      <%= form.text_area :content, class: "form-control" %><br><br>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
