<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "rails-ujs" %>

    <title>RailsProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <%= current_user.first_name + " " + current_user.last_name %><br>
      <%= link_to 'Account Settings', edit_user_registration_path %><br>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <br><br>
    <% else %>
      <%= link_to 'Log in', new_user_session_path %>
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
